@font-face{font-family:'molotregular';src:url('/fonts/Molot-webfont.eot');src:url('/fonts/Molot-webfont.eot?#iefix') format('embedded-opentype'),url('/fonts/Molot-webfont.woff') format('woff'),url('/fonts/Molot-webfont.ttf') format('truetype'),url('/fonts/Molot-webfont.svg#molotregular') format('svg');font-weight:normal;font-style:normal}html,body{min-height:100%}
header{width:100%;height:100vh;overflow:hidden}
nav{padding-right:0 !important;padding-left:0 !important}
a{color:#505d31}
a:hover,a:focus{color:#50512f}
.nav-pills>li>a{border-radius:0;padding-left:25px}
body.index{background-image:url('/img/rain-background.jpg');background-attachment:fixed;background-position:50% 0;background-repeat:no-repeat no-repeat;background-position:top center}
.block-container{background-color:rgba(95,93,81,0.4)}
.tech-highlight{margin-bottom:10px}
.tech-container{background-color:rgba(122,122,70,0.7)}
h1.title{font-family:'molotregular';font-size:5em}
h1.title span.numbers{font-size:1.2em}
#title-row{padding-top:15vh}
#navbar-top{display:block}
#nav-side{display:none}
#social-row{margin-top:50px}
@media (min-width:750px){#navbar-top{display:none} #nav-side{display:block} #title-row{padding-top:33vh}}
